# Python Virtual Environment
.venv*

# Python Cache
*_pycache_*

# Examples
*Example*

# Images
*.jpg
*.JPG
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# Jupyter
.ipynb_checkpoints*

# Cuda
*.deb

# Bibliographie
*.pdf
biblio*

# Report
*.odt
