# Python Virtual Environment
.venv*

# Python Cache
*_pycache_*

# Exemples
*Example*

# Images, pour éviter de rende la base de données du client publique
*.jpg
*.JPG
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.png

# Jupyter
.ipynb_checkpoints*

# Cuda
*.deb

# Bibliographie et Document
*.pdf
biblio*
*.docx
*.odt

# Report
*.odt
