# Jupyter
notebook==7.3.1

# Image Analysis
numpy==1.26.3
matplotlib>=3.9.3
opencv-python>=4.10.0.84
pillow==10.2.0

# GUI dev
PyQt5>=5.15.11

# Data Analysis
pandas==2.2.3

# LabelMe
labelme==5.6.0

# Pytorch
#torch==2.5.1
#torchaudio==2.5.1
#torchvision==0.20.1
