# Image Analysis
numpy==1.26.3
pillow==10.2.0
matplotlib>=3.9.3
opencv-python>=4.10.0.84

# Jupyter
notebook==7.3.1

# GUI dev
PyQt5>=5.15.11

# Data Analysis
pandas>=2.2.3

# Pytorch
--index-url https://download.pytorch.org/whl/cpu
torch>=2.5.1
torchaudio>=2.5.1
torchvision>=0.20.1
